<div class="container">

    <div class="starter-template">
        <h2>Selecciona una acción</h2>
        <p class="text-muted">Selecciona una tarea en la parte inferior</p>
        <br>
        <div class="col-md-3">
            <div class="card card-inverse card-primary">
                <div class="card-block">
                    <h3 class="card-title">Sistema</h3>
                    <p class="card-text">Acceder a las principales funciones del sistema.</p>
                    <a href="#" class="btn btn-primary">Acceder</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-inverse card-warning">
                <div class="card-block">
                    <h3 class="card-title">Facturación</h3>
                    <p class="card-text">Administración de funciones de facturas.</p>
                    <a href="#" class="btn btn-warning">Acceder</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-inverse card-success">
                <div class="card-block">
                    <h3 class="card-title">Cobranza</h3>
                    <p class="card-text">Administrar todas las cobranzas</p>
                    <a href="#" class="btn btn-success">Acceder</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-inverse card-info">
                <div class="card-block">
                    <h3 class="card-title">TMK</h3>
                    <p class="card-text">Ver or generar reportes de de retiro voluntario</p>
                    <a href="#" class="btn btn-info">Acceder</a>
                </div>
            </div>
        </div>

    </div>

</div>
