<div class="container">

    <div class="starter-template">
        <h2>Selecciona una acción</h2>
        <p class="text-muted">Selecciona una tarea en la parte inferior</p>
        <br>
        <div class="col-md-3">
            <div class="card card-inverse card-primary">
                <div class="card-block">
                    <h3 class="card-title">Cargar Ventas</h3>
                    <p class="card-text">Cargar ventas hechas en Call Center.</p>
                    <a href="#" class="btn btn-primary">Cargar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-inverse card-warning">
                <div class="card-block">
                    <h3 class="card-title">Cargar Pagos</h3>
                    <p class="card-text">Cargar archivo de cobros exitosos desde entidad.</p>
                    <a href="#" class="btn btn-warning">Cargar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-inverse card-success">
                <div class="card-block">
                    <h3 class="card-title">Exportaciones</h3>
                    <p class="card-text">Clientes activos, inactivos y cobros.</p>
                    <a href="#" class="btn btn-success">Ver mas</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-inverse card-info">
                <div class="card-block">
                    <h3 class="card-title">Clientes</h3>
                    <p class="card-text">Ver listado de clientes activos e inactivos</p>
                    <%= link_to 'Activos', "#{client_index_path}?status=active", class: 'btn btn-sm btn-info' %>
                    <%= link_to 'Inactivos', "#{client_index_path}?status=inactive", class: 'btn btn-sm btn-info' %>
                </div>
            </div>
        </div>

    </div>

</div>
